---
---
<div id="target">
    <div class="pre-value">Time for</div>
    <div class="value">?</div>
    <div class="post-value">push-ups</div>
</div>

<div id="progress">
    <div class="pre-value">??? push-ups to go</div>
    <div class="value"><div></div></div>
    <div class="post-value">??/???</div>
</div>

<script>
	import { $countdown } from '../store/countdown.ts';

    const timeForReps = document.querySelector("#target > .value")!;
    const todo = document.querySelector("#progress > .pre-value")!;
    const completed = document.querySelector("#progress > .post-value")!;
    const progressBar = document.querySelector("#progress > .value > div")!;

    $countdown.subscribe(({ goal, repCount, target, remaining, percentage }) => {
		if (target == undefined || repCount == undefined || remaining == undefined) return;
		timeForReps.setHTMLUnsafe(`${target}`);
		todo.setHTMLUnsafe((repCount < goal) ?
			`${remaining} push-ups to go` :
			`You did it! 🎉 ${repCount} push-ups today!`);
        completed.setHTMLUnsafe(`${repCount}/${goal}`);
        progressBar.setAttribute('style', `width:${percentage}%`);
    });
</script>

<style>
    svg {
        display: block;
        width: 100%;
        height: auto;
    }
    #target > .value {
		font-family: "Bitcount Prop Single", system-ui;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
		font-variation-settings:
			"slnt" 0,
			"CRSV" 0,
			"ELSH" 0,
			"ELXP" 0;
	}

	#target {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	#target > .value {
		height: 8rem;
		color: hsl(var(--accent));
		font-size: 12rem;
		line-height: 9.5rem;
		padding-left: 2.5rem;
		text-align: center;
		letter-spacing: -1rem;
	}

	#progress {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	#progress > .value {
		height: .5rem;
		width: 100%;
		background: hsl(var(--foreground) / .15);
		border: solid 1px hsl(var(--foreground) / .25);
		border-radius: .25rem;
	}

	#progress > .value > div {
		height: 100%;
		width: 0%; 
		background-color: hsl(var(--foreground));
	}
</style>